@font-face{
	font-weight: 600;
	font-family: Arial;
	src: url("fonts/arial_bold.ttf");
}

h1, h2, p, ul, li{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

body{
	font-family: Arial;
	font-weight: 600;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

header{
	background: url(images/background.jpg) center  center/cover no-repeat;
	height: 100vh;
}

.container{
	padding-top: 120px;
	margin: 0 auto;
	width: 1369px;
	display: flex;
}

.mobile-bottom-text-block{
	display: none;
}

.mobile-photo{
	display: none;
}

.photo{
	width: auto;
	height: 100vh;
	display: grid;
}

.photo-external-gradient{
	background: linear-gradient(142deg, #000, #d8d8d8, #000, #fff, #404040);
	width: 426px;
	height: 679px;
	border-radius: 5px;
}

.photo-interial-gradient{
	background: linear-gradient(-32deg, #000, #d8d8d8, #000, #fff, #404040);
	width: 422px;
	height: 675px;
	margin: 2px;
	border-radius: 5px;
}

.avatar{
	width: 414px;
	height: 667px;
	margin: 4px;
}

.text-blocks{
	display: block;
	width: 986px;
	margin-left: 44px;
}

.top-text-block{
	background: linear-gradient(to right, #fff, rgb(0, 0, 0, 0.0));
	border-radius: 50px;
	padding: 18px 6px 18px 17px;
}

.top-text-block h2{
	font-size: 35.81px;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.35);
}

.top-text-block ul{
	margin-top: 18px;
}

.top-text-block li{
	margin-left: 7px;
	font-size: 31.33px;
	line-height: 50.14px;
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.35);
}

.top-text-block li::before{
	content: "-";
	text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.35);
}

.bottom-text-block{
	display: flex;
	width: 882px;
	background: linear-gradient(to right, #fff, rgb(0, 0, 0, 0.0));
	border-radius: 25px;
	margin-top: 83px;
	padding-left: 20px;
	justify-content: space-between;
}

.bottom-text-block-text h1{
	font-size: 44.76px;
	line-height: 50.14px;
}


.bottom-text-block-text ul li{
	margin-left: 5px;
	font-size: 32.23px;
	line-height: 50.14px;
}

.bottom-text-block-text ul li::before{
	content: "-";
}

.bottom-text-block-text p{
	font-size: 32.23px;
	line-height: 50.14px;
}

.bottom-text-block-phone{
	line-height: auto;
}

.bottom-text-block-qrcode{
	width: 255px;
	height: 249px;
	cursor: default;
}

.bottom-text-block-qrcode img:hover{
	width: 96%;
	height: auto;
	padding-top: 2%;
	padding-left: 2%;
}

@media(max-width: 1440px){
	.container{
		padding-top: 120px;
		width: 1150px;
	}

	.photo-external-gradient{
		width: 362px;
		height: 575px;
	}

	.photo-interial-gradient{
		width: 358px;
		height: 571px;
	}

	.avatar{
		width: 350px;
		height: 563px;
	}

	.text-blocks{
		width: 752px;
		margin-left: 39px;
	}

	.top-text-block{
		padding: 20px 11px 20px 17px;
	}

	.top-text-block h2{
		font-size: 30.27px;
	}

	.top-text-block ul{
		margin-top: 18px;
	}

	.top-text-block li{
		margin-left: 5px;
		font-size: 26.48px;
		line-height: 42.37px;
	}

	.bottom-text-block{
		width: 747px;
		margin-top: 61px;
		padding-left: 18px;
	}

	.bottom-text-block-text h1{
		font-size: 37.83px;
		line-height: 42.37px;
	}

	.bottom-text-block-text ul li{
		margin-left: 5px;
		font-size: 27.24px;
		line-height: 42.37px;
	}

	.bottom-text-block-text p{
		font-size: 27.24px;
		line-height: 42.37px;
	}

	.bottom-text-block-qrcode{
		width: 213px;
		height: 210px;
		cursor: default;
	}

	.bottom-text-block-qrcode img{
		width: 213px;
		height: 210px;
	}
}

@media(max-width: 1366px){
	.container{
		padding-top: 50px;
		width: 1069px;
	}

	.photo-external-gradient{
		width: 336px;
		height: 533px;
	}

	.photo-interial-gradient{
		width: 332px;
		height: 529px;
	}

	.avatar{
		width: 324px;
		height: 521px;
	}

	.text-blocks{
		width: 696px;
		margin-left: 36px;
	}

	.top-text-block{
		padding: 20px 12px;
		border-radius: 25px;
	}

	.top-text-block h2{
		font-size: 28.02px;
	}

	.top-text-block ul{
		margin-top: 12px;
	}

	.top-text-block li{
		margin-left: 4px;
		font-size: 24.52px;
		line-height: 39.23px;
	}

	.bottom-text-block{
		width: 692px;
		margin-top: 59px;
		padding-left: 12px;
		border-radius: 25px;
	}

	.bottom-text-block-text h1{
		font-size: 35.03px;
		line-height: 39.23px;
	}

	.bottom-text-block-text ul li{
		margin-left: 6px;
		font-size: 25.22px;
		line-height: 39.23px;
	}

	.bottom-text-block-text p{
		font-size: 25.22px;
		line-height: 39.23px;
	}

	.bottom-text-block-qrcode{
		width: 199px;
		height: 194px;
	}

	.bottom-text-block-qrcode img{
		width: 199px;
		height: 194px;
	}
}

@media(max-width: 1280px){
	.container{
		padding-top: 100px;
		width: 1094px;
	}

	.photo-external-gradient{
		width: 336px;
		height: 524px;
	}

	.photo-interial-gradient{
		width: 332px;
		height: 520px;
	}

	.avatar{
		width: 324px;
		height: 512px;
	}

	.text-blocks{
		width: 695px;
		margin-left: 35px;
	}

	.top-text-block{
		padding: 18px 11px 18px 14px;
	}

	.top-text-block h2{
		font-size: 28.02px;
	}

	.top-text-block ul{
		margin-top: 12px;
	}

	.top-text-block li{
		margin-left: 5px;
		font-size: 24.52px;
		line-height: 39.23px;
	}

	.bottom-text-block{
		width: 690px;
		margin-top: 51px;
		padding-left: 16px;
	}

	.bottom-text-block-text h1{
		font-size: 35.03px;
		line-height: 39.23px;
	}

	.bottom-text-block-text ul li{
		margin-left: 5px;
		font-size: 25.22px;
		line-height: 39.23px;
	}

	.bottom-text-block-text p{
		font-size: 25.22px;
		line-height: 39.23px;
	}

	.bottom-text-block-qrcode{
		width: 199px;
		height: 195px;
	}

	.bottom-text-block-qrcode img{
		width: 199px;
		height: 195px;
	}
}

@media(max-width: 1024px){
	.container{
		padding-top: 75px;
		width: 981px;
	}

	.photo-external-gradient{
		width: 309px;
		height: 490px;
	}

	.photo-interial-gradient{
		width: 305px;
		height: 486px;
	}

	.avatar{
		width: 297px;
		height: 478px;
	}

	.text-blocks{
		width: 639px;
		margin-left: 30px;
	}

	.top-text-block{
		padding: 15px 10px;
	}

	.top-text-block h2{
		font-size: 25.71px;
	}

	.top-text-block ul{
		margin-top: 10px;
	}

	.top-text-block li{
		margin-left: 4px;
		font-size: 22.5px;
		line-height: 36px;
	}

	.bottom-text-block{
		width: 634px;
		margin-top: 59px;
		padding-left: 16px;
	}

	.bottom-text-block-text h1{
		font-size: 32.14px;
		line-height: 36px;
	}

	.bottom-text-block-text ul li{
		margin-left: 5px;
		font-size: 23.14px;
		line-height: 36px;
	}

	.bottom-text-block-text p{
		font-size: 23.14px;
		line-height: 36px;
	}

	.bottom-text-block-qrcode{
		width: 183px;
		height: 177px;
	}

	.bottom-text-block-qrcode img{
		width: 183px;
		height: 177px;
	}
}

@media(max-width: 998px){
	.bottom-text-block{
		display: none;
	}

	body{
		width: 100%;
		overflow: auto;
	}

	header{
		background: url(images/mobile-background.jpg) center bottom/cover no-repeat;
		height: 100%;
	}

	.container{
		padding-top: 12px;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 40vh;
		width: 90%;
		display: block;
	}

	.mobile-photo{
		display: block;
		margin: 0 auto;
		margin-top: 12px;
		margin-bottom: 12px;
		width: 70%;
		height: auto;
	}

	.photo{
		display: none;
	}

	.photo-external-gradient{
		display: none;
	}

	.photo-interial-gradient{
		display: none;
	}

	.text-blocks{
		width: 100%;
		margin-left: 0;
	}

	.top-text-block{
		width: 100%;
		background: #fff;
		border-radius: 25px;
		padding: 7px 6px;
	}

	.top-text-block h2{
		font-size: 12.9px;
		text-shadow: none;
	}

	.top-text-block ul{
		margin-top: 6px;
	}

	.top-text-block li{
		margin-left: 3px;
		font-size: 10.58px;
		line-height: 16.93px;
		text-shadow: none;
	}

	.bottom-text-block{
		display: none;
	}

	.bottom-text-block-text h1{
		display: none;
	}

	.bottom-text-block-text ul li{
		display: none;
	}

	.bottom-text-block-text p{
		display: none;
	}

	.bottom-text-block-qrcode{
		display: none;
	}

	.bottom-text-block-qrcode img{
		display: none;
	}

	.mobile-bottom-text-block{
		width: 100%;
		display: flex;
		background: #fff;
		border-radius: 25px;
		justify-content: space-between;
	}

	.mobile-bottom-text-block-text h1{
		font-size: 15.51px;
		line-height: 16.93px;
	}

	.mobile-bottom-text-block-text ul li{
		margin-left: 3px;
		font-size: 11.17px;
		line-height: 16.93px;
	}

	.mobile-bottom-text-block-text ul li::before{
		content: "-";
	}

	.mobile-bottom-text-block-text p{
		font-size: 11.17px;
		line-height: 16.93px;
	}

	.mobile-bottom-text-block-phone{
		line-height: auto;
	}

	.mobile-bottom-text-block-qrcode{
		width: 87px;
		height: 86px;
		cursor: default;
	}

	.mobile-bottom-text-block-qrcode img{
		width: 87px;
		height: 86px;
		transform: scale(.95);
  		animation: pulse 3s ease-in-out infinite;
	}

	@keyframes pulse {
	  from {
	    transform: scale(.95);
	  }
	  50% {
	    transform: scale(1);
	  }
	  to {
	    transform: scale(.95);
	  }
	}

	.mobile-bottom-text-block-qrcode img:hover{
		width: 96%;
		height: auto;
		padding-top: 2%;
		padding-left: 2%;
	}
}